# compilation and build files
/bin
/debug
/obj
/test

# pcaps
*.pcap
/pcap

# logs and temporary files
/p4/build
/p4/log
*/__pycache__
/log
/.venv
bf_drivers.log*
zlog-cfg-cur*
*.log
/old_log

# analysis and output files
/analysis
*.pdf

# settings and util scripts
/.vscode
gdb
/utils
tsdn.sh
conf/net.internal
conf/net.responder
